img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.img-circle {
  border-radius: 50%;
  max-width:15em;
  max-height:15em;
}

#imgbar{
  max-width:3em;
  max-height:3em;
}

video {
	max-width: 75%;
	max-height: 75%;
}

li {
	margin: 0 0 1em 0;
  list-style-type: none;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#bioTitle{
  color: white;
}

.course{
  margin: 0 0 0 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

#header{
  color:white;
}

.content{
  text-align: left;
  margin:0 auto;
}

